{% extends "dashboards/dashboard.html" %}
{% block title %}
    Find Company
{% endblock title %}
{% block main %}
    <div class="card mb-1">
        <div class="card-header">
            <h6 class="m-0 font-weight-bold text-primary">Insert company KRS number which you want to add to the system.</h6>
        </div>
        <form method="post">
            {% csrf_token %}
            <div class="card-body">
                {% if messages %}
                    {% for message in messages %}<div class="alert bg-gradient-danger text-white">{{ message }}</div>{% endfor %}
                {% endif %}
                <div class="form-group">{{ form.krs_id }}</div>
                <input type="submit" class="btn btn-primary" value="Submit">
            </div>
        </form>
    </div>
{% endblock main %}
