{% extends "base.html" %}
{% block title %}
    Update order
{% endblock title %}
{% block content %}
    <div class="card mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Update order details - {{ order.name }}</h6>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        {{ field.label }}
                        {{ field }}
                        {% if field.errors %}
                            <div class="alert alert-danger">
                                {% for error in field.errors %}{{ error }}{% endfor %}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
                <input type="submit" class="btn btn-primary">
                <a class="btn btn-primary" href="{% url "detail-order" order.pk %}">Back to order details</a>
            </form>
        </div>
    </div>
{% endblock content %}
