{% extends "base.html" %}
{% block title %}
    Register
{% endblock title %}
{% block content_not_authenticated_user %}
    <div class="container">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5">
                        <img src="https://img.freepik.com/free-photo/minimalistic-business-desk-arrangement_23-2149073018.jpg?t=st=1725454710~exp=1725458310~hmac=a22ef3f56ac02d8c0073121ab7c51e504a18ae9fe0923e6fe172196dc011fd02&w=826"
                             alt="Register Image"
                             class="start-image"
                             height="100%"
                             width="100%">
                    </div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                            </div>
                            <form class="user" method="post">
                                {% csrf_token %}
                                {% for field in form %}
                                    {% if field.errors %}
                                        <div class="alert alert-danger">
                                            {% for error in field.errors %}{{ error }}{% endfor %}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">{{ form.first_name }}</div>
                                    <div class="col-sm-6">{{ form.last_name }}</div>
                                </div>
                                <div class="form-group">{{ form.email }}</div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">{{ form.password1 }}</div>
                                    <div class="col-sm-6">{{ form.password2 }}</div>
                                </div>
                                <input href="{% url 'register' %}"
                                       type="submit"
                                       class="btn btn-primary btn-user btn-block"
                                       value="Register Account" />
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" href="{% url 'forgot-password' %}">Forgot Password?</a>
                            </div>
                            <div class="text-center">
                                <a class="small" href="{% url 'login' %}">Already have an account? Login!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content_not_authenticated_user %}
