# SECURITY WARNING: don't run with the debug turned on in production!
DEBUG=True

# SECURITY WARNING: keep the secret key used in production secret!
SECRET_KEY=secret

POSTGRES_USER=postgres_user
POSTGRES_PASSWORD=postgres_password
POSTGRES_NAME=postgres_name
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432

REDIS_HOST=127.0.0.1
REDIS_PORT=5432

CELERY_BROKER_URL=redis://localhost:6379

EMAIL_HOST_USER=user@email.com
EMAIL_HOST_PASSWORD=password
