{% extends "base.html" %}
{% block title %}
    Create Company
{% endblock title %}
{% block content %}
    <div class="card mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">
                Company data received from API KRS. Check if it's the company you are looking for.
            </h6>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    {{ field.label }}
                    {{ field }}
                    {% if field.errors %}
                        <div class="alert alert-danger">
                            {% for error in field.errors %}{{ error }}{% endfor %}
                        </div>
                    {% endif %}
                {% endfor %}
                <br>
                <input type="submit" class="btn btn-primary" href="{% url "dashboard" %}">
            </form>
            <br>
            <a class="btn btn-primary" href="{% url "find_company" %}">Back to KRS searchbar</a>
        </div>
    </div>
{% endblock content %}
