{% extends "base.html" %}
{% block title %}
    Delete Contact
{% endblock title %}
{% block content %}
    <div class="card">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Do you want to delete the contact?</h6>
        </div>
        <div class="card-body">
            <div class="mb-3">
                <strong>Name:</strong>{{ contact.name }}
            </div>
            <div class="mb-3">
                <strong>Email:</strong>
                {% if contact.email %}
                    {{ contact.email }}
                {% else %}
                    Unknown
                {% endif %}
            </div>
            <div class="mb-3">
                <strong>Phone:</strong>
                {% if contact.phone %}
                    {{ contact.phone }}
                {% else %}
                    Unknown
                {% endif %}
            </div>
            <div class="mb-3">
                <strong>Company:</strong> {{ contact.company }}
            </div>
            <div class="mb-3">
                <strong>Description:</strong> {{ contact.description }}
            </div>
            <form method="post">
                {% csrf_token %}
                <input type="submit" class="btn btn-danger my-2" value="Yes">
                <a class="btn btn-primary my-2"
                   href="{% url 'detail-company' company.pk %}">No</a>
            </form>
        </div>
    </div>
{% endblock content %}
