{% extends "base.html" %}
{% block title %}
    Company Detail
{% endblock title %}
{% block content %}
    <div class="card-group">
        <div class="card shadow">
            <div class="card-header d-flex justify-content-between align-items-center pointer">
                <h6 class="m-0 font-weight-bold text-primary">{{ company.name }}</h6>
                <a class="btn btn-primary" type="button" href="{% url "list_company" %}">Back to company list</a>
            </div>
            <div class="row p-6">
                <div class="col">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between align-items-center pointer"
                             data-toggle="collapse"
                             data-target="#identifiersCollapse"
                             aria-expanded="true"
                             role="button">
                            <h5 class="m-0 font-weight-bold">Identifiers</h5>
                        </div>
                        <div id="identifiersCollapse" class="collapse show">
                            <div class="card-body">
                                <p class="font-weight-bold">KRS Number: {{ company.krs }}</p>
                                <p class="font-weight-bold">REGON Number: {{ company.regon }}</p>
                                <p class="font-weight-bold">NIP Number: {{ company.nip }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header d-flex justify-content-between align-items-center pointer"
                             data-toggle="collapse"
                             data-target="#addressCollapse"
                             aria-expanded="true"
                             role="button">
                            <h5 class="m-0 font-weight-bold">Address</h5>
                        </div>
                        <div id="addressCollapse" class="collapse show">
                            <div class="card-body">
                                <p class="font-weight-bold">Street name: {{ company.address.street_name }}</p>
                                <p class="font-weight-bold">Street number: {{ company.address.street_number }}</p>
                                <p class="font-weight-bold">City: {{ company.address.city }}</p>
                                <p class="font-weight-bold">Postcode: {{ company.address.postcode }}</p>
                                <p class="font-weight-bold">Country: {{ company.address.country }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
