{% extends "base.html" %}
{% block title %}
    Company Detail
{% endblock title %}
{% block content %}
    <div class="card-group">
        <div class="card shadow">
            <div class="card-header d-flex justify-content-between align-items-center pointer">
                <h1 class="m-0 font-weight-bold text-primary">Invoice {{ invoice.name }}</h1>
                <div class="d-flex">
                    {% if not order or not invoice.is_paid %}
                        <a class="btn btn-danger mr-2"
                           type="button"
                           href="{% url 'delete-invoice' invoice.pk %}">Delete invoice</a>
                    {% endif %}
                    <a class="btn btn-warning mr-2"
                       type="button"
                       href="{% url 'update-invoice' invoice.pk %}">Update invoice</a>
                    <a class="btn btn-primary mr-2"
                       type="button"
                       href="{% url 'create-invoice' %}">Create another invoice</a>
                    <a class="btn btn-primary" type="button" href="{% url 'list-invoice' %}">Back to invoice list</a>
                </div>
            </div>
            <div class="row p-6">
                <div class="col">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between align-items-center pointer"
                             data-toggle="collapse"
                             data-target="#identifiersCollapse"
                             aria-expanded="true"
                             role="button">
                            <h5 class="m-0 font-weight-bold">Invoice data</h5>
                        </div>
                        <div id="identifiersCollapse" class="collapse show">
                            <div class="card-body">
                                <p class="font-weight-bold">
                                    Scan: <a target="_blank" href="{{ invoice.scan.url }}">{{ invoice }}</a>
                                </p>
                                <p class="font-weight-bold">
                                    Seller: <a href="{% url 'detail-company' invoice.seller.id %}">{{ invoice.seller.name }}</a>
                                </p>
                                <p class="font-weight-bold">
                                    Buyer: <a href="{% url 'detail-company' invoice.buyer.id %}">{{ invoice.buyer.name }}</a>
                                </p>
                                <p class="font-weight-bold">Net price: {{ invoice.net_price }} zł</p>
                                <p class="font-weight-bold">Vat: {{ invoice.vat }} zł</p>
                                <p class="font-weight-bold">Gross: {{ invoice.gross }} zł</p>
                                <p class="font-weight-bold">Create date: {{ invoice.create_date }}</p>
                                <p class="font-weight-bold">Service date: {{ invoice.service_date }}</p>
                                <p class="font-weight-bold">Payment date: {{ invoice.payment_date }}</p>
                                <p class="font-weight-bold">
                                    Order:
                                    {% if order %}
                                        <a href="{% url "detail-order" order.pk %}">{{ order }}</a>
                                    {% else %}
                                        NOT PINNED
                                    {% endif %}
                                </p>
                                <p class="font-weight-bold">
                                    Status:
                                    {% if invoice.is_paid %}
                                        PAID
                                    {% else %}
                                        NOT PAID
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
