{% extends "base.html" %}
{% block title %}
    Delete Addendum
{% endblock title %}
{% block content %}
    <div class="card">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Do you want to delete the addendum?</h6>
        </div>
        <div class="card-body">
            <div class="mb-3">
                <strong>Name:</strong> {{ addendum.name }}
            </div>
            <div class="mb-3">
                <strong>Agreement:</strong>
                <a href="{% url "detail-addendum" addendum.agreement.pk %}">{{ addendum.agreement }}</a>
            </div>
            <div class="mb-3">
                <strong>Create date:</strong> {{ addendum.create_date }}
            </div>
            <div class="mb-3">
                <strong>End date:</strong> {{ addendum.end_date }}
            </div>
            <div class="mb-3">
                <strong>Salary gross:</strong> {{ addendum.salary_gross }}
            </div>
            <div class="mb-3">
                <strong>Scan:</strong>
                <a href="{{ addendum.scan.url }}" target="_blank">Show scan in new explorer tab</a>
            </div>
            <form method="post">
                {% csrf_token %}
                <input type="submit" class="btn btn-danger my-2" value="Yes">
                <a class="btn btn-primary my-2"
                   href="{% url "detail-addendum" addendum.pk %}">No</a>
            </form>
        </div>
    </div>
{% endblock content %}
