{% extends "base.html" %}
{% block title %}
    Payment Detail
{% endblock title %}
{% block content %}
    <div class="card-group">
        <div class="card shadow">
            <div class="card-header d-flex justify-content-between align-items-center pointer">
                <h6 class="m-0 font-weight-bold text-primary">Payment #{{ payment.pk }}</h6>
                <div class="d-flex">
                    <a class="btn btn-primary" type="button" href="{% url "list-payment" %}">Back to payment list</a>
                </div>
            </div>
            <div class="row p-6">
                <div class="col">
                    <div class="card my-2">
                        <div class="card-header d-flex justify-content-between align-items-center pointer"
                             data-toggle="collapse"
                             data-target="#paymentCollapse"
                             aria-expanded="true"
                             role="button">
                            <h5 class="m-0 font-weight-bold">Payment #{{ payment.pk }}</h5>
                        </div>
                        <div id="paymentCollapse" class="collapse show">
                            <div class="card-body">
                                <p class="font-weight-bold">Date: {{ payment.date }}</p>
                                <p class="font-weight-bold">
                                    Employee: <a href="{% url 'detail-employee' payment.user.pk %}">{{ payment.user }}</a>
                                </p>
                                <p class="font-weight-bold">Fee: {{ payment.fee }}</p>
                                <a class="btn btn-warning mr-2"
                                   type="button"
                                   href="{% url "update-payment" payment.pk %}">Edit payment</a>
                                <a class="btn btn-danger mr-2"
                                   type="button"
                                   href="{% url "delete-payment" payment.pk %}">Delete payment</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
